.DivCarrito{
    width: 70em;
    height: 15em;
    background-color: whitesmoke;
    border: 0.1em solid #85bdbf;
    margin: 2em;
    border-radius: 7px;
}

.Button{
    width: 15em;
}

.DivFinalizar{
    width: 20em;
    height: 10em;
    background-color: whitesmoke;
    border: 0.1em solid #85bdbf;
    margin: 2em;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}